{%include "./partials/nav.gohtml" with title=titleString isAuthenticated=isAuthenticated %}
    {%if flash != ""%}
        <p>{{flash}}</p>
    {%endif%}
    
    <h1>{{todo.Name}}</h1>
    <p>{{todo.Details}}</p>
    <p>Created {{ created}}</p>
    <a href="/todo/edit/{{todo.ID}}">Edit Task</a>
    <a href="/todo/delete/{{todo.ID}}">Delete Task</a>
    <a href="/todo">View other tasks</a>
{%include "./partials/footer.gohtml"%}