<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <form action="/user/login" method="post">
        {%if loginError != ""%}
            <label>{{loginError}}</label>
        {%endif%}
        {% if emailFieldError != ""%}
            <label for="email">{{emailFieldError}}</label>
        {%endif%}
        <label for="email">Email</label>
        <input type="email" name="email" value="{{emailFieldData}}">

        <label for="password">Password</label>
        <input type="password" name="password">

        <input type="submit" value="Login">
    </form>
    {%if !loggedin%}
    <form action="/user/logout" method="post">
        <input type="submit" value="log out">
    </form>
    {%endif%}

    <a href="/user/forgot_password">Forgot your password</a>
</body>
</html>