{%include "./partials/nav.gohtml" with title="All Tasks" isAuthenticated=isAuthenticated %}
    {%if username != ""%}
        <p>Hey, {{username}}</p>
    {%endif%}
    {%for todo in todos%}
        <h1>{{todo.Name}}</h1>
        <a href="/todo/view/{{todo.ID}}">See the details</a>
    {%endfor%}
    <a href="/todo/new">Create New Task</a>
{%include "./partials/footer.gohtml"%}