<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Todo-{{todo.ID}}</title>
</head>
<body>
    <h1>{{todo.Name}}</h1>
    <p>{{todo.Details}}</p>
    <p>Created {{ created}}</p>
    <a href="/todo/edit/{{todo.ID}}">Edit this page</a>
    <a href="/todo">View other tasks</a>
</body>
</html>